<!DOCTYPE html>
<html>

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
                <li class="nav-item">
                    <form class="form-inline" action="/campgrounds" method="GET">
                        <input class="form-control ml-sm-4 mr-sm-2" type="text" name="search" placeholder="Search for a campground" aria-label="Search for a campground">
                        <button class="btn btn-dark btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="/users/<%= currentUser.username %>">Signed in as <%= currentUser.username %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
            <% } if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%=success%>
                </div>
                <% } %>
    </div>
    <div class="container">
