<% include ../partials/header %>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Edit <%= campground.name %></h1>
            </div>
            <div class="col-xs-4">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="campground[name]" id="name" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <label for="image">Upload Image - only JPG, JPEG, PNG, and GIF are allowed</label>
                    <br>
                    <input type="file" id="image" name="image" accept="image/png,image/gif,image/jpeg,image/jpg">
                </div>
                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input class="form-control" type="number" name="campground[price]" id="price" value="<%= campground.price %>" step="0.5" min="0">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="campground[description]" id="description" value="<%= campground.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
    <script>
        function activatePlacesSearch(){
            var input = document.getElementById("location");
            var autocomplete = new google.maps.places.Autocomplete(input);
        }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANsplbu_wQ2HF2Fp29fD_X0LA_xczXkgc&libraries=places&callback=activatePlacesSearch"></script>
<% include ../partials/footer %>