<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a></p>
        </div>
    </header>

    <!--<div class="row text-center">-->
    <div class="card-columns">
        <% campgrounds.forEach(function(campground){%>
            <!--<div class="col-lg-3 col-md-4 col-sm-6 mb-4 campground-grid d-flex">-->

            <div class="card text-white bg-dark">
                <img src="<%= campground.image %>" class="card-img-top flex-fill" alt="<%= campground.name %>">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <%= campground.name %>
                    </h5>
                    <p>
                        <% if (campground.rating === 0) { %>
                            <em>No reviews yet.</em>
                            <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <% }); %>
    </div>
    <nav aria-label="Page navigation">
    <% if (pages && pages > 0) { %>
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
        <% } %>

        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">«</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
        <% } %>

        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% } %>

        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">»</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
        <% } %>

        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</nav>

    <% include ../partials/footer %>
