<% include ../partials/header %>
  <div class="row">
    <div class="col-md-3">
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
        <div class="card-body">
          <p class="float-right">
            $<%=campground.price%>/night
          </p>
          <h5 class="card-title">
            <%= campground.name %>
          </h5>
          <p>
            <em>Submitted by: <a href="/users/<%= campground.author.username %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
          </p>
          <hr>
          <p class="card-text">
            <%= campground.description %>
          </p>
          <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
              <button class="btn btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
      </div>
      <!--reviews section-->
      <div class="thumbnail">
        <div class="caption-full">
          <% if (campground.rating === 0) { %>
            <h5>
              <em>No reviews yet.</em>
            </h5>
            <% } else { %>
              <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                <em>(total reviews: <%= campground.reviews.length %>)</em>
              </p>
              <p>
                Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
              </p>
              <p>
                <h4>Latest reviews for this campground:</h4>
              </p>
              <hr class="mt-0 mb-0">
              <div class="well mt-3 pt-3 pl-3 pr-3">
              <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                <div class="row">
                  <div class="col-md-3">
                    <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                    <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                    <div>Review by: <strong><a href="/users/<%= review.author.username %>"><%= review.author.username %></a></strong></div>
                    <span><em><%= review.updatedAt.toDateString() %></em></span>
                  </div>
                  <div class="col-md-9">
                    <p>
                      <%= review.text %>
                    </p>
                    <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                      <div class="float-right">
                        <a href="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                      </div>
                      <% } %>
                  </div>
                </div>
                <hr>
                <% }); %>
                  </div>
                  <div class="mb-3">
                    <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                  </div>
                  <% } %>
                    <div>
                      <a class="mb-5 btn btn-primary btn-lg <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
        </div>
      </div>

    </div>
  </div>

  <script>
    function initMap() {
      var lat = <%= campground.lat %>;
      var lng = <%= campground.lng %>;
      var center = { lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
      });
      var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
        position: center,
        map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7TECmCk5bAsO_5aFbYht9T6RraoPZy0M&libraries=places&callback=initMap"></script>

  <% include ../partials/footer %>
